@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* App color pallete */
  --app-default-color: #600399;
  --app-light-gray: #f2f4f7;
  --app-lighter-gray: #fcfcfd;
  --app-color-gray: #667085;
  --app-color-dark-gray: #1d2939;

  --app-text-color: #344054;
  --app-text-color-dark: #1d2939;
  --app-text-gray: #667085;
  --app-text-footer-gray: #92989f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: "Lato", "Libre Baskerville", "Jost Variable", sans-serif, serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
